/*******  HTML CLASS UTILITIES ********/
 /*    i.   | Container */
 .container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* Alert container */
.alert {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: var(--success-color);
  color: var(--primary-color);
}

.alert-error {
  background-color: var(--error-color);
  color: var(--primary-color);
}

 /*    ii.  | Sidebar*/
 /*    iii. | Card*/
 .card {
  background-color: var(--primary-color);
  color: #000;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
.card p{
  padding: 0 15px;
}
.card-btn {
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.card-btn .s-btn {
  font-weight: bold;
}
.card-btn a {
  background-color: inherit;
  color: inherit;
  width: auto;
  padding: 0 15px;
  margin: 10px;
}
 

 /*    iv.  | Grid*/
 .grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* grid columns*/
.grid-2c {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3c {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4c {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5c {
  grid-template-columns: repeat(5, 1fr);
}

/* grid rows*/
.grid-2r {
  grid-template-rows: repeat(2, 1fr);
}

.grid-3r {
  grid-template-rows: repeat(3, 1fr);
}

.grid-4r {
  grid-template-rows: repeat(4, 1fr);
}

.grid-5r {
  grid-template-rows: repeat(5, 1fr);
}

/* column*/
.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.col-3 {
  grid-column: 3;
}

.col-4 {
  grid-column: 4;
}

.col-5 {
  grid-column: 5;
}

/* column span*/
.span-1c2 {
  grid-column: 1 / span2;
}

.span-1c3 {
  grid-column: 1 / span3;
}

.span-1c4 {
  grid-column: 1 / span4;
}

.span-1c5 {
  grid-column: 1 / span5;
}

.span-2c3 {
  grid-column: 2/ span3;
}

.span-2c4 {
  grid-column: 2 / span4;
}

.span-2c5 {
  grid-column: 2 / span5;
}

.span-3c4 {
  grid-column: 3 / span4;
}

.span-3c5 {
  grid-column: 3 / span5;
}

.span-4c5 {
  grid-column: 4 / span5;
}

/* rows*/
.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row-4 {
  grid-row: 4;
}

.row-5 {
  grid-row: 5;
}

/* row span*/
.span-1r2 {
  grid-row: 1 / span2;
}

.span-1r3 {
  grid-row: 1 / span3;
}

.span-1r4 {
  grid-row: 1 / spa4;
}

.span-1r5 {
  grid-row: 1 / span5;
}

.span-2r3 {
  grid-row: 2 / span3;
}

.span-2r4 {
  grid-row: 2 / span4;
}

.span-2r5 {
  grid-row: 2 / spa5;
}

.span-3r4 {
  grid-row: 3 / span4;
}

.span-3r5 {
  grid-row: 3 / span5;
}

.span-4r5 {
  grid-row: 4 / span5;
}

 /*    v.   | Flex*/
 .flex {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.flex-bw {
  justify-content: space-between;
  margin: 10px 15px;
}

 /*    vi.  | Colors*/
 .primary-bg,
.primary-bg-btn {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

.secondary-bg,
.secondary-bg-btn {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
}

.dark-bg,
.dark-btn {
  background-color: var(--dark-primary-bg-color);
  color: var(--dark-primary-color);
}

.light-bg,
.btn-light {
  background-color: var(--light-primary-bg-color);
  color: var(--light-primary-color);
}

.primary-bg a,
.primary-bg-btn a,
.secondary-bg a,
.secondary-bg-btn a,
.dark-bg a,
.dark-btn a {
  color: var(--primary-color);
}

/* Text colors */
.txt-primary-bg{
  color:  var(--primary-bg-color);
}

.txt-dark-bg {
  color: var(--dark-primary-bg-color);
}

.txt-secondary-bg {
  color: var(--secondary-bg-color);
}

.txt-dark {
  color: #000;
}

.txt-light {
  color: #fff;
}

 /*    vii. | *on-->(*padding,*margins,*fonts)*/
/*---margin all */
.m-zero {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.2rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/*---margin up & down*/
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.2rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem;
}

.my-5 {
  margin: 4rem;
}

/*** PADDING ************/
/*---padding all */
.p-zero {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.2rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/*---padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.2rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem;
}

.py-5 {
  padding: 4rem;
}

 /****   viii.| Button Sizes, hover and outline    */
/* long button       */
.l-btn {
  display: inline-block;
  border: none;
  cursor: card;
  width: 70%;
  height: 50px;
  padding: 2% 5%;
  border-radius: 5px;
  justify-content: center;
}

/* big button       */
.b-btn {
  display: inline-block;
  border: none;
  cursor: card;
  width: 120px;
  height: 50px;
  padding: 2% 5%;
  border-radius: 5px;
}

/* medium button    */
.m-btn {
  display: inline-block;
  border: none;
  cursor: card;
  width: 100px;
  height: 40px;
  padding: 2% 5%;
  border-radius: 5px;
}

/* small  button    */
.s-btn {
  display: inline-block;
  border: none;
  cursor: card;
  width: 100px;
  height: 30px;
  padding: 0 1%;
  border-radius: 5px;
}

/* transparent button    */
.t-btn {
  background-color: inherit;
  color: inherit;
  border-radius: 10px;
  border: 1px solid #fff;
}
.i-btn {
  display: inline-block;
  text-align: center;
  border: none;
  cursor: card;
  width: auto;
  height: 30px;
  border-radius: 5px;
}

/* next button    */
.next-btn {
  display: inline-block;
  border: none;
  cursor: card;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

}

/* previous button    */
.prev-btn {
  display: inline-block;
  border: none;
  cursor: card;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

/* button hover   */
.l-btn:hover,
.b-btn:hover,
.m-btn:hover,
.s-btn:hover,
.t-btn:hover,
.next-btn:hover,
.prev-btn:hover {
  transform: scale(1.1);
  font-weight: bold;
}

/* Background & colors button */

/* text sizes */
.xl-txt {
  font-size: 2.5rem;
  font-weight: bold;
}

.l-txt {
  font-size: 2rem;
  font-weight: bold;
}

.m-txt {
  font-size: 1.5rem;
  font-weight: bold;
}

.s-txt {
  font-size: 1rem;
}
/* text position */
.center-txt {
  text-align: center;
}

.left-txt {
  text-align: start;
}

.right-txt {
  text-align: end;
}


